@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: #111;
    color: #fff;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}
.navbar-logo a{
    font-size: 1.5rem;
    color: #2ea875;
    text-decoration: none;
}
.navbar-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}
.navbar-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease-in-out, border-bottom 0.4s ease-in-out;
}
.navbar-links a.active{
    color: #3671e5;
}
.navbar-links a:hover{
    color: #3671e5;
    border-bottom: 2px solid #2ea875;
}
.header{
    padding: 2rem 1rem;
}
.emphasis{
    color: #2ea875;
    font-size: 2.99rem;
}
.header p{
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}
.emphasis-p{
    color: #3671e5;
    font-size: 2.2rem;
    font-weight: 500;
}
.header-buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-weight: 600;
}
.product-demo,
.start-free-trial{
    color: #000;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 9px;
    background-color: #fff;
}
.start-free-trial{
    background-color: #2ea875;
}
.product-demo:hover,
.start-free-trial:hover{
    background-color: #000;
    color: #2ea875;
}
/* .showcase-image{
    find a solution for the space at the bottom of the image
} */

/* features */
.features{
    padding: 50px 20px;
    background-color: #f9f9f9;
    color: #000;
    text-align: center;
}
.features h2{
    color: #2ea875;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.features-subheading{
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: 1em;
}
.feature-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.feature-item{
    margin: 1em;
    background-color: white;
    border: 1px solid #3671e5;
    border-radius: 9px;
    padding: 1em;
    max-width: 250px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}




.feature-item h3{
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}
.feature-item p{
    color: #777676;
}
#return-to-top{
    position: fixed;
    bottom: 20px;
    right: 22px;
    display: none;
    background-color: #2ea875;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#return-to-top a{
    text-decoration: none;
    color: inherit;
}
body.scrolled #return-to-top{
    display: block;
}